* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

 :focus,
 :active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside,
section {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}


/*------------------------*/

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1520px;
    margin: 0 auto;
}

.header {}

.header__content {
    padding: 32px 0px 35px 0px;
    display: flex;
    align-items: flex-end;
    /* justify-content: space-between; */
}

.header__logo {
    line-height: 1;
    margin: 0px 118px 0px 0px;
    color: #000000;
}

.header__logo img {
    height: 30px;
    display: inline-block;
}

.header__menu {}

.header__list {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
}

.header__list li {
    margin: 0px 37px 0px 0px;
}

.header__list li:nth-child(5) {
    margin: 0px;
}

.header__list li a {
    color: #000000;
}

.header__contacts {
    display: none;
}

.header__tab {
    font-weight: 900;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.025em;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.header__list li:nth-child(3) a {
    color: #061F49;
}

.page {
    max-width: 1920px;
    margin: 0 auto;
}

.hello {
    background: linear-gradient(0deg, rgba(12, 17, 66, 0.8), rgba(12, 17, 66, 0.8)), url(../img/archive/BG.png);
    mix-blend-mode: normal;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0px 0px 73px 0px;
}

.hello__content {
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    padding: 85px 0px 114px 0px;
}

.hello__title {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    margin: 0px 0px 38px 0px;
    padding: 0px 120px;
}

.hello__text {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    line-height: 32px;
    margin: 0px 0px 73px 0px;
    padding: 0px 200px;
}

.hello__btn {
    height: 60px;
    width: 330px;
    font-weight: 500;
    font-size: 20px;
    line-height: 33px;
    color: #ffffff;
    background: #DF4235;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.lines {
    display: flex;
    justify-content: center;
    margin: 0px 0px 36px 0px;
}

.line {
    background: linear-gradient(270deg, #DF4235, #FFFFFF);
    width: 312px;
    height: 4px;
}

.line-reverse {
    background: linear-gradient(90deg, #DF4235, #FFFFFF);
    width: 312px;
    height: 4px;
}

.system {
    margin: 0px 0px 100px 0px;
}

.system__content {
    padding: 0px 0px 114px 0px;
}

.system__paragraph {
    padding: 27px 0px 0px 0px;
    font-weight: 500;
    margin: 0px 0px 141px 0px;
}

.system__description {
    position: relative;
}

.text {
    font-weight: 500;
    background: rgba(245, 245, 245, 0.8);
    border-radius: 10px;
}

.system__text {
    padding: 47px 64px 30px 465px;
}

.system__text p {
    margin: 0px 0px 28px 0px;
}

.system__list {}

.system__list li::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #061F49;
    display: inline-block;
    margin: 0px 17px 0px 0px;
}

.system__img {
    top: -91px;
    left: 57px;
}

.img {
    filter: drop-shadow(0px 16px 20px rgba(0, 0, 0, 0.1));
    position: absolute;
}

.creation-digitization {
    margin: 0px 0px 100px 0px;
}

.creation-digitization__content {}

.title {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    text-transform: uppercase;
    text-align: center;
}

.creation-digitization__title {
    margin: 0px 0px 133px 0px;
}

.creation-digitization__list {}

.block {
    position: relative;
    margin: 0px 0px 60px 0px;
}

.first-block {
    padding: 0px 0px 124px 0px;
}

.first-block__text {
    padding: 65px 787px 61px 57px;
}

.first-block__text p:first-child {
    margin: 0px 0px 14px 0px;
}

.first-block__img {
    top: -78px;
    right: 57px;
}

.second-block {
    padding: 0px 0px 309px 0px;
}

.second-block__text {
    padding: 25px 59px 187px 57px;
}

.second-block__img {
    width: 92%;
    top: 70px;
    left: 59px;
}

.third-block {
    padding: 0px 0px 260px 0px;
}

.third-block__text {
    padding: 56px 971px 78px 57px;
}

.third-block__img {
    top: 32px;
    right: 59px;
}

.fourth-block {
    padding: 0px 0px 499px 0px;
}

.fourth-block__text {
    padding: 25px 59px 126px 57px;
}

.fourth-block__img {
    width: 92%;
    top: 78px;
    left: 57px;
}

.fifth-block {
    position: relative;
    padding: 0px 0px 576px 0px;
}

.fifth-block__text {
    padding: 30px 59px 126px 58px;
}

.fifth-block__img {
    width: 92%;
    top: 78px;
    left: 58px;
}

.creation-digitization__list li div p {
    background: url(../img/Ellipse.svg);
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding: 0px 0px 0px 28px;
}

.first-block__text p:first-child {
    background: none;
    padding: 0px;
}

.classification {
    margin: 0px 0px 100px 0px;
}

.classification__content {
    padding: 0px 0px 237px 0px;
}

.classification__title {
    margin: 0px 0px 117px 0px;
}

.classification-description {
    position: relative;
}

.classification__text {
    padding: 60px 787px 61px 57px;
}

.classification__img {
    top: -72px;
    right: 58px;
}

.significance {
    margin: 0px 0px 110px 0px;
}

.significance__content {
    padding: 0px 0px 613px 0px;
}

.significance__title {
    margin: 0px 0px 55px 0px;
}

.significance-description {
    position: relative;
}

.significance__text {
    padding: 47px 15px 124px 59px;
}

.significance__img {
    width: 92%;
    top: 102px;
    left: 57px;
}

.footer {}

.footer__border {
    widows: 100%;
    /* border: 0.5px solid rgba(0, 0, 0, 0.5); */
    height: 1px;
    background: rgba(0, 0, 0, 0.5);
}

.footer__content {
    padding: 45px 0px 47px 0px;
    display: flex;
    align-items: center;
}

.footer__logo {
    line-height: 1;
    margin: 0px 98px 0px 0px;
    color: #000000;
}

.footer__logo img {
    height: 36px;
}

.footer__menu {
    margin: 0px 0px 30px 20px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.025em;
}

.footer__menu__list {
    display: flex;
    justify-content: space-between;
}

.footer__menu__list li {
    margin: 0px 30px 0px 0px;
}

.footer__menu__list li:last-child {
    margin: 0px;
}

.footer__menu__list li a {
    color: #000000;
}

.footer__line {
    max-width: 1247px;
    height: 1px;
    background: rgba(0, 0, 0, 0.4);
}

.footer__info {}

.footer__submenu {
    margin: 23px 0px 0px 20px;
    font-size: 14px;
    line-height: 16px;
}

.footer__submenu__list {
    display: flex;
    justify-content: space-between;
}

.footer__submenu__list li {
    margin: 0px 30px 0px 0px;
}

.footer__submenu__list li:last-child {
    margin: 0px;
}

.footer__submenu__list li a {
    color: #000000;
}

@media (max-width: 1520px) {
    .container {
        max-width: 1390px;
    }
    .hello__title {
        padding: 0px 60px;
    }
    .hello__text {
        padding: 0px 120px;
    }
    .system__text {
        padding: 47px 64px 30px 372px;
    }
    .system__img {
        width: 284px;
        top: -73px;
    }
    .first-block__text {
        padding: 65px 623px 61px 57px;
    }
    .first-block__img {
        width: 550px;
        top: -62px;
    }
    .third-block__text {
        padding: 56px 777px 78px 57px;
    }
    .third-block__img {
        width: 697px;
        top: 25px;
    }
    .classification__text {
        padding: 60px 630px 61px 57px;
    }
    .classification__img {
        width: 550px;
        top: -57px;
    }
    /* .system {
        margin: 0px 0px 163px 0px;
    }
    .first-block {
        margin: 0px 0px 140px 0px;
    }
    .second-block {
        margin: 0px 0px 340px 0px;
    }
    .third-block {
        margin: 0px 0px 254px 0px;
    }
    .fourth-block {
        margin: 0px 0px 502px 0px;
    }
    .fifth-block {
        margin: 0px 0px 627px 0px;
    }
    .classification {
        margin: 0px 0px 266px 0px;
    }
    .significance {
        margin: 0px 0px 664px 0px;
    } */
    .system__content {
        padding: 0px 0px 17px 0px;
    }
    .first-block {
        padding: 0px 0px 62px 0px;
    }
    .second-block {
        padding: 0px 0px 268px 0px;
    }
    .third-block {
        padding: 0px 0px 171px 0px;
    }
    .fourth-block {
        padding: 0px 0px 448px 0px;
    }
    .fifth-block {
        padding: 0px 0px 518px 0px;
    }
    .classification__content {
        padding: 0px 0px 152px 0px;
    }
    .significance__content {
        padding: 0px 0px 552px 0px;
    }
    .significance__img {
        top: 126px;
    }
}

@media (max-width: 1410px) {
    .container {
        max-width: 1150px;
    }
    .hello__title {
        padding: 0px;
    }
    .hello__text {
        padding: 0px;
    }
    .header__list li {
        margin: 0px 25px 0px 0px;
    }
    /* .first-block {
        margin: 0px 0px 92px 0px;
    }
    .second-block {
        margin: 0px 0px 265px 0px;
    }
    .third-block {
        margin: 0px 0px 230px 0px;
    }
    .fourth-block {
        margin: 0px 0px 408px 0px;
    }
    .fifth-block {
        margin: 0px 0px 520px 0px;
    }
    .classification {
        margin: 0px 0px 242px 0px;
    }
    .significance {
        margin: 0px 0px 553px 0px;
    } */
    .first-block {
        padding: 0px 0px 15px 0px;
    }
    .second-block {
        padding: 0px 0px 193px 0px;
    }
    .third-block {
        padding: 0px 0px 147px 0px;
    }
    .fourth-block {
        padding: 0px 0px 354px 0px;
    }
    .fifth-block {
        padding: 0px 0px 387px 0px;
    }
    .classification__content {
        padding: 0px 0px 128px 0px;
    }
    .significance__content {
        padding: 0px 0px 441px 0px;
    }
}

@media (max-width: 1170px) {
    .container {
        max-width: 970px;
    }
    .system__content,
    .first-block,
    .second-block,
    .third-block,
    .fourth-block,
    .fifth-block,
    .classification__content,
    .significance__content,
    .significance__img {
        padding: 0px;
    }
    /* .block {
        margin: 0px 0px 50px 0px;
    } */
    .system,
    .classification {
        margin: 0px 0px 80px 0px;
    }
    .significance {
        margin: 0px 0px 90px 0px;
    }
    .system__description {
        display: flex;
        flex-direction: column;
    }
    .img {
        position: static;
        width: 100%;
    }
    .system__img {
        width: 40%;
        align-self: center;
    }
    .system__paragraph {
        margin: 0px 0px 50px 0px;
    }
    .header__content {
        justify-content: space-between;
        padding: 20px 0px;
    }
    .header__logo {
        margin: 0px;
    }
    .header__logo img {
        height: 23px;
    }
    .hello__title {
        font-size: 26px;
        line-height: 42px;
    }
    .hello__text {
        font-size: 18px;
        line-height: 28px;
    }
    .hello__btn {
        font-size: 17px;
        line-height: 28px;
    }
    .title {
        font-size: 22px;
        line-height: 35px;
        margin: 0px 0px 40px 0px;
    }
    .system__paragraph {
        font-size: 16px;
        line-height: 22px;
    }
    .text {
        font-size: 16px;
        line-height: 22px;
        padding: 40px 50px 40px 65px;
        margin: 0px 0px 30px 0px;
    }
    .line,
    .line-reverse {
        width: 230px;
    }
    .lines {
        margin: 0px 0px 28px 0px;
    }
    .footer__menu__list li {
        margin: 0px 15px 0px 0px;
    }
    .footer__content {
        flex-direction: column;
    }
    .footer__logo {
        margin: 0px 0px 60px 0px;
    }
    .footer__menu {
        margin: 0px 0px 40px 0px;
    }
    .footer__submenu {
        margin: 40px 0px 0px 0px;
    }
    .footer__logo img {
        height: 28px;
    }
    .header__menu {
        position: fixed;
        z-index: 2;
        top: -3000px;
        overflow: auto;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(3, 18, 49, 0.95);
    }
    .header__menu.active {
        top: 0;
    }
    .header__x {
        display: none;
    }
    .header__x.active {
        display: inline-block;
        width: 27px;
        height: 27px;
        background: url('../img/Menu-x.svg');
        position: fixed;
        z-index: 2;
        left: 86%;
        top: 27px;
    }
    .header__list,
    .header__tab {
        flex-direction: column;
        align-items: center;
        padding: 108px 30px 192px 30px;
        text-transform: none;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.025em;
        text-align: center;
    }
    .header__list li:nth-child(3) a {
        color: #ffffff;
    }
    .header__list li:nth-child(5):after {
        content: '';
        display: block;
        border: 1px solid rgba(255, 255, 255, 0.7);
        width: 100%;
        margin: 55px 0px 40px 0px;
    }
    .header__contacts {
        display: block;
        text-transform: uppercase;
    }
    .header__list li {
        margin: 0px 0px 52px 0px;
    }
    .header__list li:nth-child(5) {
        width: 100%;
        max-width: 500px;
        min-width: 280px;
        margin: 0px;
    }
    .header__list li:last-child {
        margin: 0px;
    }
    .header__list li a {
        color: #ffffff;
    }
    .header__burger {
        width: 30px;
        height: 16px;
        margin: 0px 6px 0px 0px;
        background: url('../img/Menu-burger.svg');
    }
    body.lock {
        overflow: hidden;
    }
    @media (max-width: 992px) {
        .container {
            max-width: 750px;
        }
        .system__img {
            width: 50%;
        }
        .text {
            padding: 40px 30px 40px 40px;
        }
        .hello__text {
            padding: 0px
        }
        .footer__logo {
            margin: 0px 0px 40px 0px;
        }
        .footer__menu__list {
            flex-direction: column;
            text-align: center;
        }
        .footer__menu__list li {
            margin: 0px 0px 30px 0px;
        }
        .footer__submenu__list {
            flex-direction: column;
            text-align: center;
        }
        .footer__submenu__list li {
            margin: 0px;
        }
        .footer__submenu__list li:nth-child(1) {
            order: 3;
        }
        .footer__submenu__list li:nth-child(2) {
            order: 1;
            margin: 0px 0px 30px 0px;
        }
        .footer__submenu__list li:nth-child(3) {
            order: 2;
            margin: 0px 0px 30px 0px;
        }
    }
    @media (max-width: 767px) {
        .container {
            max-width: none;
            padding: 0px 10px;
        }
        .block {
            margin: 0px 0px 50px 0px;
        }
        .system,
        .classification {
            margin: 0px 0px 60px 0px;
        }
        .significance {
            margin: 0px 0px 60px 0px;
        }
        .text {
            margin: 0px -10px 30px -10px;
            border-radius: 0px;
            padding: 30px 10px;
            /* padding: 30px 15px 30px 30px; */
            /* font-weight: 400; */
        }
        .title {
            font-size: 18px;
            line-height: 32px;
            margin: 0px 0px 20px 0px;
        }
        .hello {
            margin: 0px 0px 30px 0px;
        }
        .hello__content {
            padding: 63px 0px 55px 0px;
        }
        .lines {
            margin: 0px 0px 20px 0px;
        }
        .line,
        .line-reverse {
            width: 180px;
            height: 3px;
        }
        .header__logo img {
            height: 16px;
        }
        .hello__title {
            font-size: 24px;
            line-height: 38px;
            font-weight: 400;
        }
        .hello__text {
            font-size: 14px;
            line-height: 22px;
            text-transform: none;
        }
        .hello__btn {
            font-size: 14px;
            line-height: 23px;
            width: 270px;
            height: 44px;
        }
        .footer__submenu {
            font-size: 12px;
            line-height: 14px;
        }
        .footer__logo img {
            height: 20px;
        }
        .footer__content {
            padding: 32px 0px 37px 0px;
        }
        .footer__logo {
            margin: 0px 0px 30px 0px;
        }
        .footer__menu__list li {
            margin: 0px 0px 23px 0px;
        }
        .footer__submenu__list li {
            margin: 0px 0px 23px 0px;
        }
    }
}