    * {
        padding: 0;
        margin: 0;
        border: 0;
    }
    
    *,
    *:before,
    *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
     :focus,
     :active {
        outline: none;
    }
    
    a:focus,
    a:active {
        outline: none;
    }
    
    nav,
    footer,
    header,
    aside,
    section {
        display: block;
    }
    
    html,
    body {
        height: 100%;
        width: 100%;
    }
    
    body {
        line-height: 1;
        font-size: 14px;
        -ms-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
    }
    
    input,
    button,
    textarea {
        font-family: inherit;
    }
    
    input::-ms-clear {
        display: none;
    }
    
    button {
        cursor: pointer;
    }
    
    button::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
    
    a,
    a:visited {
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: none;
    }
    
    ul li {
        list-style: none;
    }
    
    img {
        vertical-align: top;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: inherit;
        font-weight: inherit;
    }
    /*------------------------*/
    
    body {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #000000;
    }
    
    .wrapper {
        width: 100%;
        overflow: hidden;
    }
    
    .container {
        max-width: 1520px;
        /* width: 1520px; */
        margin: 0 auto;
    }
    
    .header {
        padding: 32px 0px 35px 0px;
    }
    
    .header__content {
        display: flex;
        gap: 118px;
        align-items: flex-end;
    }
    
    .header__logo {
        /* padding: 0px 118px 0px 0px; */
    }
    
    .header__menu {}
    
    .header__list {
        display: flex;
        gap: 37px;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.025em;
        text-transform: uppercase;
    }
    
    .header__list li a {
        color: #000000;
    }
    
    .page {
        max-width: 1920px;
        margin: 0 auto;
    }
    
    .hello {
        /* background: rgba(0, 0, 0, 0.3); */
        background: linear-gradient(3.42deg, rgba(3, 18, 41, 0.9) 13.99%, rgba(3, 18, 41, 0) 34.88%), linear-gradient(89.96deg, #061F49 0.71%, rgba(20, 41, 60, 0.19) 59.76%), url(../img/BG.png);
        /* background: url(/img/BG2.png); */
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    .hello__content {
        padding: 97px 0px 54px 0px;
        color: #ffffff;
    }
    
    .hello__heading {
        max-width: 950px;
    }
    
    .hello__title {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 700;
        font-size: 52px;
        line-height: 61px;
        text-transform: uppercase;
        margin: 0px 0px 30px 0px;
    }
    
    .hello__text {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 39px;
        margin: 0px 0px 61px 0px;
    }
    
    .hello__btn {
        margin: 0px 0px 105px 0px;
        height: 60px;
        width: 330px;
    }
    
    .btn {
        font-weight: 500;
        font-size: 20px;
        line-height: 33px;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        background: #DF4235;
        border-radius: 10px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    
    .hello__edge {}
    
    .hello__list {
        display: flex;
        /* justify-content: space-between; */
    }
    
    .hello__list li {
        display: flex;
        gap: 16px;
        align-items: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        padding: 0px 30px 0px 0px;
    }
    
    .hello__list li:last-child {
        padding: 0px;
    }
    
    .line {
        background: linear-gradient(90deg, #DF4235, #FFFFFF);
        width: 630px;
        height: 4px;
        margin: 0px 0px 40px 0px;
    }
    
    .search {
        min-height: 560px;
        background: url(../img/IMG.png);
        background-position: right;
        background-repeat: no-repeat;
        margin: 0px 0px 28px 0px;
    }
    
    .search__content {
        padding: 62px 0px 0px 0px;
    }
    
    .search__title {
        margin: 0px 0px 24px 0px;
    }
    
    .title {
        font-weight: 500;
        font-size: 26px;
        line-height: 41px
    }
    
    .search__text {
        margin: 0px 0px 12px 0px;
    }
    
    .text {}
    
    .search__list {
        margin: 35px 0px 0px 0px;
        font-size: 16px;
    }
    
    .search__list li::before {
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background: #061F49;
        display: inline-block;
        margin: 0px 16px 0px 0px;
    }
    
    .information {
        min-height: 560px;
        background: url(../img/IMG2.png);
        background-position: 0% 0%;
        background-repeat: no-repeat;
        margin: 0px 0px 70px 0px;
    }
    
    .information__content {
        /* padding: 104px 0px 96px 0px; */
        padding: 104px 0px 0px 0px;
        max-width: 920px;
        margin: 0px 0px 0px 644px;
    }
    
    .information__title {
        margin: 0px 0px 24px 0px;
    }
    
    .information__list {
        margin: 22px 0px 0px 0px;
        line-height: 30px;
    }
    
    .information__list li {
        background: url(../img/Ellipse.svg);
        background-repeat: no-repeat;
        background-position: 0 10px;
        padding: 0px 0px 0px 30px;
    }
    
    .access {
        min-height: 560px;
        background: url(../img/IMG3.png);
        background-position: 100% 0%;
        background-repeat: no-repeat;
        margin: 0px 0px 159px 0px;
    }
    
    .access__content {
        max-width: 920px;
        /* padding: 170px 0px 130px 0px; */
        padding: 170px 0px 0px 0px;
    }
    
    .access__title {
        margin: 0px 0px 24px 0px;
    }
    
    .lines {
        display: flex;
        justify-content: center;
    }
    
    .line-2 {
        background: linear-gradient(270deg, #DF4235, #FFFFFF);
        width: 312px;
        height: 4px;
        margin: 0px 0px 40px 0px;
    }
    
    .line-2-reverse {
        background: linear-gradient(90deg, #DF4235, #FFFFFF);
        width: 312px;
        height: 4px;
        margin: 0px 0px 40px 0px;
    }
    
    .management {}
    
    .management__content {
        margin: 0px 0px 116px 0px;
    }
    
    .management__title {
        font-family: 'Roboto Condensed', sans-serif;
        text-align: center;
        font-weight: 700;
        font-size: 50px;
        line-height: 70px;
        margin: 0px 0px 40px 0px;
    }
    
    .management__text {
        text-align: center;
        margin: 0px 0px 84px 0px;
        font-weight: 700;
    }
    
    .management__points {
        padding: 0px 48px 0px 82px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .point {
        display: flex;
        gap: 45px;
        max-width: 630px;
        min-height: 191px;
        padding: 0px 0px 60px 0px;
    }
    
    .point:nth-child(5),
    .point:last-child {
        padding: 0px;
    }
    
    .numbers {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 80px;
        line-height: 80px;
        color: #DF4235;
    }
    
    .point__text {}
    
    .point__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 34px;
        margin: 0px 0px 10px 0px;
    }
    
    .questions {
        min-height: 704px;
        background: linear-gradient(90.19deg, #0F1F3C -0.46%, rgba(6, 29, 68, 0.4) 98.54%), linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
        background: url(../img/BG-form.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    .questions__content {
        /* padding: 67px 183px 66px 63px; */
        padding: 67px 0px 66px 0px;
    }
    
    .questions__title {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 700;
        font-size: 50px;
        line-height: 59px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        margin: 0px 0px 57px 0px;
    }
    
    .form {}
    
    .form__item {
        font-size: 12px;
        line-height: 14px;
        color: #FFFFFF;
        width: 546px;
        height: 50px;
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid rgba(255, 255, 255, 0.9);
        border-radius: 10px;
        padding: 17px 23px;
        margin: 0px 0px 21px 0px;
    }
    
    .form__item::placeholder {
        font-size: 14px;
        line-height: 16px;
        color: rgba(255, 255, 255, 0.6);
    }
    
    .form__question {
        font-size: 12px;
        line-height: 14px;
        color: #FFFFFF;
        width: 546px;
        height: 120px;
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid rgba(255, 255, 255, 0.9);
        border-radius: 10px;
        padding: 26px 35px;
        resize: none;
        margin: 9px 0px 26px 0px;
    }
    
    .form__button {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.045em;
        text-transform: uppercase;
        color: #FFFFFF;
        background: #DF4235;
        border-radius: 10px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 546px;
        margin: 0px 0px 21px 0px;
    }
    
    .form__checkbox {
        display: flex;
        align-items: center;
        gap: 16px;
        font-size: 12px;
        line-height: 14px;
        color: rgba(255, 255, 255, 0.8);
    }
    
    .form__checkbox input {
        width: 16px;
        height: 16px;
    }
    
    .form__checkbox input:checked {}
    
    .form__checkbox__link {
        font-size: 12px;
        line-height: 14px;
        color: rgba(255, 255, 255, 0.8);
        text-decoration: underline;
    }
    
    .questions__block {
        padding: 0px 183px 0px 63px;
        display: flex;
        gap: 160px;
    }
    
    .contacts {
        margin: 33px 0px 0px 0px;
        width: 567px;
        height: 342px;
        background: rgba(7, 3, 30, 0.5);
        border-radius: 10px;
    }
    
    .contacts__content {
        padding: 62px 0px 0px 73px;
        display: flex;
        flex-direction: column;
        gap: 47px;
    }
    
    .contacts__item {
        display: flex;
        gap: 30px;
        align-items: center;
        font-weight: 700;
        line-height: 21px;
        color: #FFFFFF;
    }
    
    .contacts__text {
        font-weight: 700;
        line-height: 21px;
        color: #FFFFFF;
    }
    
    .footer {}
    
    .footer__content {
        padding: 45px 0px 47px 0px;
        display: flex;
        gap: 98px;
        align-items: center;
    }
    
    .footer__logo {}
    
    .footer__menu {
        padding: 0px 0px 30px 20px;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.025em;
    }
    
    .footer__menu__list {
        display: flex;
        justify-content: space-between;
    }
    
    .footer__menu__list li a {
        color: #000000;
    }
    
    .footer__line {
        width: 1247px;
        height: 1px;
        background: rgba(0, 0, 0, 0.4);
    }
    
    .footer__info {
        display: flex;
        flex-direction: column;
    }
    
    .footer__submenu {
        padding: 23px 0px 0px 20px;
        font-size: 14px;
        line-height: 16px;
    }
    
    .footer__submenu__list {
        display: flex;
        justify-content: space-between;
    }
    
    .footer__submenu__list li a {
        color: #000000;
    }
    
    @media (max-width: 1520px) {
        .container {
            max-width: 1170px;
        }
        .header__list {
            gap: 30px;
        }
        .hello__list li {
            flex-direction: column;
            padding: 0px;
            text-align: center;
        }
        .line {
            width: 400px;
        }
    }
    
    @media (max-width: 1170px) {
        .container {
            max-width: 970px;
        }
    }
    
    @media (max-width: 992px) {
        .container {
            max-width: 750px;
        }
    }
    
    @media (max-width: 767px) {
        .container {
            max-width: none;
        }
    }