    * {
        padding: 0;
        margin: 0;
        border: 0;
    }
    
    *,
    *:before,
    *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
     :focus,
     :active {
        outline: none;
    }
    
    a:focus,
    a:active {
        outline: none;
    }
    
    nav,
    footer,
    header,
    aside,
    section {
        display: block;
    }
    
    html,
    body {
        height: 100%;
        width: 100%;
    }
    
    body {
        line-height: 1;
        font-size: 14px;
        -ms-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
    }
    
    input,
    button,
    textarea {
        font-family: inherit;
    }
    
    input::-ms-clear {
        display: none;
    }
    
    button {
        cursor: pointer;
    }
    
    button::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
    
    a,
    a:visited {
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: none;
    }
    
    ul li {
        list-style: none;
    }
    
    img {
        vertical-align: top;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: inherit;
        font-weight: inherit;
    }
    /*------------------------*/
    
    body {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #000000;
    }
    
    .wrapper {
        width: 100%;
        overflow: hidden;
    }
    
    .container {
        max-width: 1520px;
        margin: 0 auto;
    }
    
    .header {}
    
    .header__content {
        padding: 32px 0px 35px 0px;
        display: flex;
        align-items: flex-end;
    }
    
    .header__logo {
        line-height: 1;
        margin: 0px 118px 0px 0px;
        color: #000000;
    }
    
    .header__logo img {
        height: 30px;
        display: inline-block;
    }
    
    .header__menu {}
    
    .header__list {
        display: flex;
        /* gap: 37px; */
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.025em;
        text-transform: uppercase;
    }
    
    .header__list li {
        margin: 0px 37px 0px 0px;
    }
    
    .header__list li:nth-child(5) {
        margin: 0px;
    }
    
    .header__list li a {
        color: #000000;
    }
    
    .header__contacts {
        display: none;
    }
    
    .page {
        max-width: 1920px;
        margin: 0 auto;
    }
    
    .hello {
        background: linear-gradient(3.42deg, rgba(3, 18, 41, 0.9) 13.99%, rgba(3, 18, 41, 0) 34.88%), linear-gradient(89.96deg, #061F49 0.71%, rgba(20, 41, 60, 0.19) 59.76%), url(../img/BG.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    .overlay {
        background: rgba(0, 0, 0, 0.3);
    }
    
    .hello__content {
        padding: 97px 0px 54px 0px;
        color: #ffffff;
    }
    
    .hello__heading {
        max-width: 950px;
    }
    
    .hello__title {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 700;
        font-size: 52px;
        line-height: 61px;
        text-transform: uppercase;
        margin: 0px 0px 30px 0px;
    }
    
    .hello__text {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 39px;
        margin: 0px 0px 61px 0px;
    }
    
    .hello__btn {
        margin: 0px 0px 105px 0px;
        height: 60px;
        width: 330px;
        font-weight: 500;
        font-size: 20px;
        line-height: 33px;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        background: #DF4235;
        border-radius: 10px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    
    .hello__edge {}
    
    .hello__list {
        display: flex;
        /* justify-content: space-between; */
    }
    
    .hello__list li {
        display: flex;
        /* gap: 16px; */
        align-items: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        margin: 0px 30px 0px 0px;
    }
    
    .hello__list li:last-child {
        margin: 0px;
    }
    
    .hello__list li img {
        margin: 0px 16px 0px 0px;
        height: 50px;
    }
    
    .line {
        background: linear-gradient(90deg, #DF4235, #FFFFFF);
        width: 65%;
        height: 4px;
        margin: 0px 0px 40px 0px;
    }
    
    .search {
        margin: 0px 0px 28px 0px;
    }
    
    .search__content {
        display: flex;
        justify-content: space-between;
    }
    
    .search__description {
        padding: 62px 0px 0px 0px;
        margin: 0px -85px 0px 0px;
        position: relative;
        z-index: 1;
    }
    
    .search__img {
        margin: 0px -200px 0px 0px;
        width: 842px;
        height: 560px;
        display: block;
    }
    
    .search__title {
        margin: 0px 0px 24px 0px;
    }
    
    .title {
        font-weight: 500;
        font-size: 26px;
        line-height: 41px
    }
    
    .search__text {
        margin: 0px 0px 12px 0px;
    }
    
    .text {}
    
    .search__list {
        margin: 35px 0px 0px 0px;
        font-size: 16px;
    }
    
    .search__list li::before {
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background: #061F49;
        display: inline-block;
        margin: 0px 16px 0px 0px;
    }
    
    .information {
        margin: 0px 0px 70px 0px;
    }
    
    .information__content {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
    
    .information__description {
        /* padding: 104px 0px 0px 0px; */
        padding: 60px 0px 0px 0px;
        margin: 0px 0px 0px -12px;
        position: relative;
        z-index: 1;
    }
    
    .information__img {
        margin: 0px 0px 0px -200px;
        width: 856px;
        height: 560px;
        display: block;
    }
    
    .information__title {
        margin: 0px 0px 24px 0px;
    }
    
    .information__list {
        margin: 22px 0px 0px 0px;
        line-height: 30px;
    }
    
    .information__list li {
        background: url(../img/Ellipse.svg);
        background-repeat: no-repeat;
        background-position: 0 10px;
        padding: 0px 0px 0px 30px;
    }
    
    .access {
        margin: 0px 0px 159px 0px;
    }
    
    .access__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .access__description {
        /* padding: 170px 0px 0px 0px; */
        padding: 40px 0px 0px 0px;
        margin: 0px -150px 0px 0px;
        position: relative;
        z-index: 1;
    }
    
    .access__img {
        margin: 0px -200px 0px 0px;
        width: 958px;
        height: 560px;
        display: block;
    }
    
    .access__title {
        margin: 0px 0px 24px 0px;
    }
    
    .lines {
        display: flex;
        justify-content: center;
    }
    
    .line-2 {
        background: linear-gradient(270deg, #DF4235, #FFFFFF);
        width: 312px;
        height: 4px;
        margin: 0px 0px 40px 0px;
    }
    
    .line-2-reverse {
        background: linear-gradient(90deg, #DF4235, #FFFFFF);
        width: 312px;
        height: 4px;
        margin: 0px 0px 40px 0px;
    }
    
    .management {}
    
    .management__content {
        margin: 0px 0px 116px 0px;
    }
    
    .management__title {
        font-family: 'Roboto Condensed', sans-serif;
        text-align: center;
        font-weight: 700;
        font-size: 50px;
        line-height: 70px;
        margin: 0px 0px 40px 0px;
    }
    
    .management__text {
        text-align: center;
        margin: 0px 0px 84px 0px;
        font-weight: 700;
    }
    
    .management__points {
        padding: 0px 48px 0px 82px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .point {
        display: flex;
        /* gap: 32px; */
        max-width: 45.5%;
        min-height: 191px;
        padding: 0px 0px 60px 0px;
    }
    
    .point:nth-child(5),
    .point:last-child {
        padding: 0px;
    }
    
    .numbers {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 80px;
        line-height: 80px;
        color: #DF4235;
        padding: 0px 32px 0px 0px;
    }
    
    .point__text {}
    
    .point__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 34px;
        margin: 0px 0px 10px 0px;
    }
    
    .questions {
        min-height: 704px;
        background: linear-gradient(90.19deg, #0F1F3C -0.46%, rgba(6, 29, 68, 0.4) 98.54%), linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/BG-form.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    .questions__content {
        /* padding: 67px 183px 66px 63px; */
        padding: 67px 0px 66px 0px;
    }
    
    .questions__title {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 700;
        font-size: 50px;
        line-height: 59px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        margin: 0px 0px 57px 0px;
    }
    
    .form {
        margin: 0px 160px 0px 0px;
    }
    
    .form__item {
        font-size: 14px;
        line-height: 14px;
        color: #FFFFFF;
        width: 546px;
        height: 50px;
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid rgba(255, 255, 255, 0.9);
        border-radius: 10px;
        padding: 17px 23px;
        margin: 0px 0px 21px 0px;
    }
    
    .form__item::placeholder {
        font-size: 14px;
        line-height: 16px;
        color: rgba(255, 255, 255, 0.6);
    }
    
    .form__question {
        font-size: 14px;
        line-height: 14px;
        color: #FFFFFF;
        width: 546px;
        height: 120px;
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid rgba(255, 255, 255, 0.9);
        border-radius: 10px;
        padding: 26px 35px;
        resize: none;
        margin: 9px 0px 26px 0px;
    }
    
    .textarea__placeholder {
        margin: 0px 0px 0px 30px;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
        position: absolute;
        background: #14233F;
        padding: 3px 9px;
    }
    
    .form__button {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.045em;
        text-transform: uppercase;
        color: #FFFFFF;
        background: #DF4235;
        border-radius: 10px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 546px;
        margin: 0px 0px 21px 0px;
    }
    
    .form__checkbox {
        /* display: flex;
        align-items: center; */
        /* gap: 16px; */
        font-size: 12px;
        line-height: 14px;
        color: rgba(255, 255, 255, 0.8);
    }
    
    .form__checkbox input {
        display: none;
        /* width: 16px;
        height: 16px;
        margin: 0px 16px 0px 0px; */
    }
    
    .form__checkbox__link {
        font-size: 12px;
        line-height: 14px;
        color: rgba(255, 255, 255, 0.8);
        text-decoration: underline;
    }
    
    .form__checkbox label {
        display: flex;
        align-items: flex-end;
    }
    
    label:before {
        content: '';
        display: inline-block;
        margin: 0px 16px 0px 0px;
        width: 16px;
        height: 16px;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 2px;
    }
    
    input:checked+label:before {
        content: '';
        display: inline-block;
        background-image: url('../img/Vector.svg');
    }
    
    .questions__block {
        padding: 0px 63px;
        display: flex;
        /* gap: 160px; */
    }
    
    .contacts {
        margin: 33px 0px 0px 0px;
        width: 567px;
        height: 342px;
        background: rgba(7, 3, 30, 0.5);
        border-radius: 10px;
    }
    
    .contacts__content {
        padding: 62px 73px;
        /* display: flex;
        flex-direction: column; */
        /* gap: 47px; */
    }
    
    .contacts__item {
        margin: 0px 0px 47px 0px;
        display: flex;
        /* gap: 30px; */
        align-items: center;
        font-weight: 700;
        line-height: 21px;
        color: #FFFFFF;
    }
    
    .contacts__item img {
        margin: 0px 30px 0px 0px;
        height: 40px;
    }
    
    .contacts__item:last-child {
        margin: 0px;
    }
    
    .contacts__text {
        font-weight: 700;
        line-height: 21px;
        color: #FFFFFF;
    }
    
    .footer {}
    
    .footer__content {
        padding: 45px 0px 47px 0px;
        display: flex;
        /* gap: 98px; */
        align-items: center;
    }
    
    .footer__logo {
        line-height: 1;
        margin: 0px 98px 0px 0px;
        color: #000000;
    }
    
    .footer__logo img {
        height: 36px;
    }
    
    .footer__menu {
        margin: 0px 0px 30px 20px;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.025em;
    }
    
    .footer__menu__list {
        display: flex;
        justify-content: space-between;
    }
    
    .footer__menu__list li {
        margin: 0px 30px 0px 0px;
    }
    
    .footer__menu__list li:last-child {
        margin: 0px;
    }
    
    .footer__menu__list li a {
        color: #000000;
    }
    
    .footer__line {
        max-width: 1247px;
        height: 1px;
        background: rgba(0, 0, 0, 0.4);
    }
    
    .footer__info {
        /* display: flex;
        flex-direction: column; */
    }
    
    .footer__submenu {
        margin: 23px 0px 0px 20px;
        font-size: 14px;
        line-height: 16px;
    }
    
    .footer__submenu__list {
        display: flex;
        justify-content: space-between;
    }
    
    .footer__submenu__list li {
        margin: 0px 30px 0px 0px;
    }
    
    .footer__submenu__list li:last-child {
        margin: 0px;
    }
    
    .footer__submenu__list li a {
        color: #000000;
    }
    
    @media (max-width: 1520px) {
        .container {
            max-width: 1270px;
        }
    }
    
    @media (max-width: 1290px) {
        .container {
            max-width: 1150px;
        }
        .header__list li {
            margin: 0px 25px 0px 0px;
        }
        .hello__list {
            flex-wrap: wrap;
        }
        .hello__list li {
            width: 50%;
            margin: 0px 0px 30px 0px;
        }
        .form__item,
        .form__question,
        .form__button {
            width: 500px;
        }
        .form {
            margin: 0px 120px 0px 0px;
        }
    }
    
    @media (max-width: 1170px) {
        .container {
            max-width: 970px;
        }
        .header__content {
            justify-content: space-between;
            padding: 20px 0px;
        }
        .header__logo {
            margin: 0px;
        }
        .header__logo img {
            height: 23px;
        }
        .header__list {
            /* display: none; */
        }
        .hello__title {
            font-size: 44px;
            line-height: 51px;
        }
        .hello__text {
            font-size: 20px;
            line-height: 33px;
        }
        .hello__btn {
            font-size: 16px;
            line-height: 28px;
        }
        .title {
            font-size: 24px;
            line-height: 38px;
        }
        .search__text,
        .text {
            font-size: 16px;
            line-height: 22px;
        }
        .information__list {
            font-size: 16px;
            line-height: 25px;
        }
        .management__title {
            font-size: 41px;
            line-height: 58px;
        }
        .management__text {
            font-size: 16px;
            line-height: 22px;
        }
        .management__points {
            padding: 0px 30px 0px 40px;
        }
        .point__title {
            font-size: 21px;
            line-height: 30px;
        }
        .point__text {
            font-size: 16px;
            line-height: 22px;
        }
        .numbers {
            font-size: 60px;
            line-height: 100%;
        }
        .questions__title {
            font-size: 38px;
            line-height: 44px;
        }
        .form__button {
            font-size: 14px;
            line-height: 17px;
            letter-spacing: normal;
        }
        .contacts__text {
            font-size: 16px;
            line-height: 18px;
        }
        .contacts__item img {
            height: 32px;
        }
        .search__content,
        .information__content,
        .access__content {
            flex-direction: column;
            align-items: center;
        }
        .search__description,
        .information__description,
        .access__description {
            margin: 0px;
            padding: 0px;
        }
        .search__img,
        .information__img,
        .access__img {
            margin: 0px;
            width: 100%;
            height: 100%;
        }
        .hello {
            margin: 0px 0px 40px 0px;
        }
        .search,
        .information,
        .access {
            margin: 0px 0px 80px 0px;
        }
        .form__item,
        .form__question,
        .form__button {
            width: 420px;
        }
        .form {
            margin: 0px 80px 0px 0px;
        }
        .questions__block {
            padding: 0px 40px;
        }
        .footer__menu__list li {
            margin: 0px 15px 0px 0px;
        }
        .footer__content {
            flex-direction: column;
        }
        .footer__logo {
            margin: 0px 0px 60px 0px;
        }
        .footer__menu {
            margin: 0px 0px 40px 0px;
        }
        .footer__submenu {
            margin: 40px 0px 0px 0px;
        }
        .footer__logo img {
            height: 28px;
        }
        .img {
            margin: 0px -100px;
        }
        .header__menu {
            position: fixed;
            z-index: 2;
            top: -3000px;
            overflow: auto;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(3, 18, 49, 0.95);
        }
        .header__menu.active {
            top: 0;
        }
        .header__x {
            display: none;
        }
        .header__x.active {
            display: inline-block;
            width: 27px;
            height: 27px;
            background: url('../img/Menu-x.svg');
            position: fixed;
            z-index: 2;
            left: 86%;
            top: 27px;
        }
        .header__list {
            flex-direction: column;
            align-items: center;
            padding: 108px 30px 192px 30px;
            text-transform: none;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.025em;
            text-align: center;
        }
        .header__list li:nth-child(5):after {
            content: '';
            display: block;
            border: 1px solid rgba(255, 255, 255, 0.7);
            width: 100%;
            margin: 55px 0px 40px 0px;
        }
        .header__contacts {
            display: block;
            text-transform: uppercase;
        }
        .header__list li {
            margin: 0px 0px 52px 0px;
        }
        .header__list li:nth-child(5) {
            width: 100%;
            max-width: 500px;
            min-width: 280px;
            margin: 0px;
        }
        .header__list li:last-child {
            margin: 0px;
        }
        .header__list li a {
            color: #ffffff;
        }
        .header__burger {
            width: 30px;
            height: 16px;
            margin: 0px 6px 0px 0px;
            background: url('../img/Menu-burger.svg');
        }
        body.lock {
            overflow: hidden;
        }
    }
    
    @media (max-width: 992px) {
        .container {
            max-width: 750px;
        }
        .hello__content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .hello__heading {
            text-align: center;
        }
        .hello__list {
            flex-direction: column;
        }
        .hello__list li {
            width: fit-content;
        }
        .point {
            max-width: 100%;
            min-height: 100%;
            padding: 0px 0px 40px 0px;
        }
        .point:nth-child(5) {
            padding: 0px 0px 40px 0px;
        }
        .questions__block {
            flex-direction: column;
            align-items: center;
            padding: 0px;
        }
        .form {
            margin: 0px;
        }
        .form::after {
            content: 'контакты';
            font-family: 'Roboto Condensed', sans-serif;
            text-align: center;
            display: block;
            font-weight: 700;
            font-size: 38px;
            line-height: 44px;
            text-transform: uppercase;
            color: #FFFFFF;
            margin: 80px 0px 40px 0px;
        }
        .contacts {
            margin: 0px;
            width: fit-content;
            height: fit-content;
            background: none;
            margin: 0px 0px 0px -50px;
        }
        .contacts__content {
            padding: 0px;
        }
        .footer__logo {
            margin: 0px 0px 40px 0px;
        }
        .footer__menu__list {
            flex-direction: column;
            text-align: center;
        }
        .footer__menu__list li {
            margin: 0px 0px 30px 0px;
        }
        .footer__submenu__list {
            flex-direction: column;
            text-align: center;
        }
        .footer__submenu__list li {
            margin: 0px;
        }
        .footer__submenu__list li:nth-child(1) {
            order: 3;
        }
        .footer__submenu__list li:nth-child(2) {
            order: 1;
            margin: 0px 0px 30px 0px;
        }
        .footer__submenu__list li:nth-child(3) {
            order: 2;
            margin: 0px 0px 30px 0px;
        }
        .img {
            margin: 0px -121px;
        }
    }
    
    @media (max-width: 767px) {
        .container {
            max-width: none;
        }
        .header,
        .overlay,
        .search__description,
        .information__description,
        .access__description,
        .management,
        .questions,
        .footer {
            padding: 0px 10px;
        }
        .header__logo img {
            height: 16px;
        }
        .hello {
            margin: 0px 0px 30px 0px;
        }
        .hello__content {
            padding: 63px 0px 55px 0px;
        }
        .hello__title {
            font-weight: 400;
            font-size: 36px;
            line-height: 42px;
            margin: 0px 0px 36px 0px;
        }
        .hello__btn {
            width: 270px;
            height: 44px;
            margin: 0px 0px 74px 0px;
        }
        .hello__text {
            font-size: 16px;
            line-height: 26px;
        }
        .hello__btn {
            font-size: 14px;
            line-height: 23px;
        }
        .hello__list li img {
            height: 40px;
        }
        .line {
            margin: 0px 0px 20px 0px;
        }
        .search__list {
            margin: 10px 0px 0px 0px;
        }
        .search,
        .access,
        .information {
            margin: 0px 0px 60px 0px;
        }
        .title {
            font-size: 22px;
            line-height: 35px;
            margin: 0px 0px 20px 0px;
        }
        .information__list {
            margin: 10px 0px 0px 0px;
        }
        .information__list li {
            margin: 0px 0px 20px 0px;
        }
        .information__list li:last-child {
            margin: 0px;
        }
        .management__title {
            font-weight: 400;
            font-size: 32px;
            line-height: 45px;
            margin: 0px 0px 35px 0px;
        }
        .management__text {
            font-weight: 400;
            margin: 0px 0px 30px 0px;
        }
        .line-2,
        .line-2-reverse {
            margin: 0px 0px 20px 0px;
        }
        .point__title {
            font-size: 18px;
            line-height: 25px;
        }
        .numbers {
            font-size: 40px;
            line-height: 100%;
            padding: 0px 10px 0px 0px;
        }
        .point {
            padding: 0px 0px 30px 0px;
        }
        .point:nth-child(5) {
            padding: 0px 0px 30px 0px;
        }
        .management__content {
            margin: 0px 0px 50px 0px;
        }
        .questions__content {
            padding: 40px 0px 74px 0px;
        }
        .questions__title {
            font-weight: 400;
            font-size: 26px;
            line-height: 30px;
            margin: 0px 0px 44px 0px;
        }
        .form::after {
            font-weight: 400;
            font-size: 26px;
            line-height: 30px;
        }
        .contacts__item {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
        }
        .contacts__item img {
            height: 24px;
        }
        .contacts {
            margin: 0px 0px 0px -100px;
        }
        .form__button {
            font-weight: 400;
        }
        .form::after {
            margin: 70px 0px 30px 0px;
        }
        .contacts__item {
            margin: 0px 0px 24px 0px;
        }
        .contacts__item img {
            margin: 0px 18px 0px 0px;
        }
        .contacts__text {
            font-weight: 400;
        }
        .management__points {
            padding: 0px;
        }
        .footer__submenu {
            font-size: 12px;
            line-height: 14px;
        }
        .footer__logo img {
            height: 20px;
        }
        .footer__content {
            padding: 32px 0px 37px 0px;
        }
        .footer__logo {
            margin: 0px 0px 30px 0px;
        }
        .footer__menu__list li {
            margin: 0px 0px 23px 0px;
        }
        .footer__submenu__list li {
            margin: 0px 0px 23px 0px;
        }
        .img {
            margin: 0px;
        }
    }
    
    @media (max-width: 500px) {
        .contacts {
            margin: 0px;
        }
        .form__item,
        .form__question,
        .form__button {
            width: 100%;
        }
    }